@model FilterTracker.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}
<br/>
<br/>
<h2>@ViewBag.Title</h2>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            @using (Html.BeginForm("ResetPassword", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                <p>
                    @Html.LabelFor(m => m.SelectedOrganizationId)
                    @Html.DropDownListFor(m => m.SelectedOrganizationId, Model.Organizations, new { @id = "ddl-orgs", @class="form-control" }) 
                    @Html.ValidationMessageFor(m => m.SelectedOrganizationId)
                </p>
                <p>
                    @Html.LabelFor(m => m.SelectedUserId) 
                    @Html.DropDownListFor(m => m.SelectedUserId, Model.Users, new { @id = "ddl-users", @class="form-control" })
                </p>
                <p>
                    @Html.LabelFor(m => m.Password) @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </p>
                <p><input type="submit" class="btn btn-primary" value="Reset"></p>
            }
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="message-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>@Model.Message</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    var message = '@Model.Message';
    $(document).ready(function () {

        if (message.length > 0) {
            $('#message-modal').modal('toggle')
        }
    });

    $('#ddl-orgs').on('change', function () {
        var t = $("#ddl-users");
        $.ajax({
            url: "/Admin/UsersByOrganization/" + $("#ddl-orgs").val(),
            cache: false,
            method: 'GET',
            headers: {
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
            }
        }).done(function( json ) {
            var $el = t;
            $el.empty(); 
            $.each(json, function(Key,Value) {
                $el.append($("<option></option>").attr("Value",Value.Value).html(Value.Key));
            });
        });

    });
</script>
}