@model FilterTracker.Models.SendRegisteredLettersTaskEditorViewModel

<div class="card text-white bg-dark">
	<div class="card-body">
		<div class="container">
			<div class="row row-cols-4">
				<div class="col">
					<div class="form-group">
						<span class="text-white-50 text-right">Name</span>
						<span class="text-white text-left">@Model.Patient.FullName</span>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<span class="text-white-50 text-right">MRN</span>
						<span class="text-white text-left">@Model.Patient.MRN</span>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<span class="text-white-50 text-right">Birthdate</span>
						<span class="text-white text-left">@Model.Patient.DateOfBirth.ToShortDateString()</span>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<span class="text-white-50 text-right">Gender</span>
						@if (Model.Patient.Gender.HasValue)
						{
							if (Model.Patient.Gender.Value == 1)
							{
								<span class="text-white text-left">Male</span>
							}
							else
							{
								<span class="text-white text-left">Female</span>
							}
						}
					</div>
				</div>
			</div>
		</div>
		<div class="row row-cols-2">
			<div class="col">
				<div class="form-group">
					<span class="text-white-50 text-right">Primary Phone Number</span>
					<span class="text-white text-left">@Model.Patient.PrimaryPhoneNumber</span>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<span class="text-white-50 text-right">Primary Email</span>
					<span class="text-white text-left">@Model.Patient.PrimaryEmailAddress</span>
				</div>
			</div>
		</div>
		<div class="row row-cols-5 mb-3">
			<div class="col-5">
				<span class="text-white-50 text-right">Address</span>
				<table class="text-white text-left ml-lg-5" width="100%">
					<tr><td colspan="2">@Model.Patient.AddressLine1</td></tr>
					@if (!string.IsNullOrEmpty(Model.Patient.AddressLine2))
					{
						<tr>
							<td colspan="2">
								@Html.Raw(Model.Patient.AddressLine2)
							</td>
						</tr>
					}
					<tr><td colspan="2">@Model.Patient.City</td></tr>
					<tr><td width="30">@Model.Patient.State</td><td align="left">@Model.Patient.Zipcode</td></tr>
				</table>
			</div>
		</div>
		<div class="row row-cols-2">
			<div class="col-2 text-white text-left">
				<span class="text-white-50 ml-2">@Html.ActionLink("Case History", "DisplayCaseHistory", new { patientFilterId = Model.PatientFilter.Id }, new { target = "_blank" })</span>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="row row-cols-2" style="padding-top: 30px;">
	@Html.AntiForgeryToken()

	<div class="form-group col">
		@Html.LabelFor(m => m.SendDate)
		@Html.TextBoxFor(m => m.SendDate, new { @class = "form-control margin-bottom-5", id = "send-date" })
		<span>@Html.ValidationMessageFor(m => m.SendDate, "", new { @class = "text-danger" })</span>
	</div>
	<div class="form-group col">
		@Html.LabelFor(m => m.TrackingNumber)
		@Html.TextBoxFor(m => m.TrackingNumber, new { @class = "form-control margin-bottom-5", id = "tracking-number" })
		<span>@Html.ValidationMessageFor(m => m.TrackingNumber, "", new { @class = "text-danger"})</span>
	</div>
</div>
<div class="row row-cols-8">
	<div class="form-group col-8">
		@Html.LabelFor(m => m.Note)
		<textarea id="note" name="Note" class="form-control" rows="4" cols="100"/>
	</div>
</div>
